@model songece.Models.Siniflar.Blog

@{  ViewBag.title="BlogGetir";
    Layout= "~/Views/Shared/_AdminLayout.cshtml";}

    <h2>Blog Güncelleme</h2>
    <br />
    @using (Html.BeginForm("BlogGuncelle","Admin",FormMethod.Post)){

    <div class="mb-3">
        @Html.LabelFor(x => x.Id, new { @class = "form-label"})
        @Html.TextAreaFor(x => x.Id, new { @class = "form-control" , @readonly="readonly" })
    </div>

    <div class="mb-3">
        @Html.LabelFor(x => x.Baslik, new { @class = "form-label"})
        @Html.TextAreaFor(x => x.Baslik, new { @class = "form-control" })
    </div>

    <div class="mb-3">
        @Html.LabelFor(x => x.Tarih, new { @class = "form-label" })
        @Html.TextAreaFor(x => x.Tarih, new { @class = "form-control" })
    </div>

    <div class="mb-3">
        @Html.LabelFor(x => x.BlogImage, new { @class = "form-label" })
        @Html.TextAreaFor(x => x.BlogImage, new { @class = "form-control" })
    </div>

    <div class="mb-3">
        @Html.LabelFor(x => x.Aciklama, new { @class = "form-label" })
        @Html.TextAreaFor(x => x.Aciklama,15,1 ,new { @class = "form-control" })
    </div>


    <button type="submit" class="btn btn-success">Blog Güncelle</button>
    }